/* очищаем все отступы и границы*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    }
/*меняет подсчет ширины блока так, чтобы нам было удобнее верстать*/
 *,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
/*убираем линии обводки у некоторых браузеров*/
:focus,:active{outline: none;}
a:focus,a:active {outline: none;}

/*делаем некоторые элементы блочными*/

nav,footer,header,aside {display: block;}

/* обращаемся к html & body и применим параметры, которые уравнивают поведение
шрифтов и элементов для разных браузеров */

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*обращаемся к некоторым тегам и просим их наследовать семейства шрифта, т.к. 
по умолчанию эти теги не наследуют семейство шрифта*/

input,button,textarea{font-family: inherit;}

/* добавляем ещё некоторые свойства*/

input::-ms-clear{display: none;} /*убирается "крестик" в explorer */
button{cursor: pointer;}/**/
button::-moz-focus-inner{padding: 0;border: 0;}/*убирают лишние отступы*/
a, a:visited{text-decoration: none; color: inherit;}/**/
a:hover{text-decoration: none;}/**/
ul li{list-style: none;}/*чистятся стиле маркированных списков*/
img{vertical-align: top;}/**/

/* обнуляем заголовки*/

h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

@font-face {
    font-family: "Gilroy-Bold"; 
    src: url("fonts/gilroy-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; }

* {
    font-family: "Gilroy-Bold"; 
    }
html {
    background-color: #1C1A28; 
    }

body {max-width: 1400px;
    background-color: #FFFFFF;
    min-width: 320px;
    margin: 0 auto;
    }
header {
    width: 100%;   
    }
.navigation { 
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 90px;
    position: relative;
    padding: 0px 65px 0px;
    }
.navigation__list {
    display: flex;
    justify-content: space-between;
    padding-inline-start:0;
    font-size: 15px;
    }
.navigation__item {
    margin:0px 30px 0px 0px;
    cursor: pointer;
    }
.navigation__item:hover {
    font-weight: bold;
    color: #E93A7D;
    }
.navigation__login {
    background-color: #E93A7D;
    border-radius:25px ;
    font-size: 18px;
    color: #FFFFFF;
    width: 115px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.navigation__login:hover {
    font-weight: bold;
    background-color: black;
    }
.burger {
    display: none;
    cursor: pointer;
    }
.burgerMenu {
    position: absolute;  
    width: 100%; 
    background-color: rgb(151, 144, 144); 
    top: 50px;
    right: 0;
    opacity: 0.85; 
    display: none; 
    justify-content: space-between; 
    flex-direction: column; 
    }
.burgerMenu__item {
    opacity: 1; 
    font-weight: bold; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    }
.burgerMenu__item:hover {
    opacity: 1; 
    font-weight: bold; 
    color: #E93A7D;   
    cursor: pointer;
    font-size:22px ;
    transition:1s;
    background-color: rgb(62, 62, 65);
    border-radius: 15px;
    }
.container{
    height: 100%;
    }
.intro {
    width: 100%;
    background: url(img/Image.jpg) 0 100% no-repeat ;
    display: flex;
    justify-content: center;
    padding: 34.28% 0% 8.71% 0%;
    }
.intro__text {
    width: 69.28%;
    margin: 0 auto;
    }
.intro__header{
    font-size:50px;
    font-weight: 700;
    line-height: 70px;
    max-width: 815px;
    padding-bottom: 24px;
    }
.intro__pgraph{
    font-size:22px;
    font-weight: 500;
    line-height: 32px;
    max-width: 670px;
    }
.pictures {
    display: flex;
    justify-content: center;
    padding: 6.07% 0 6.07% 0 ;
    background-color: #FFFFFF;
    }
.pictures__block {
    display: flex;
    flex-wrap: wrap;
    width: 85.71%;
    }
.pictures__col {
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;
    margin: 0px 15px;
    }  
.pictures__item {
    width: 100%;
    margin:15px 0;
    border-radius: 25px;
    }

.videoblock {
    background-color: #222228;
    display: flex;
    padding: 7.14% 15px 10.21%;
    }
.videoblock__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
.videoblock__container h3 {
    max-width: 770px;
    font-size: 42px; 
    color: #FFFFFF; 
    text-align: center;
    }
.videoblock__newspaper {
    max-width: 770px;
    position: relative;
    margin: 40px 0 90px 0;
    }
.videoblock__mainvideo {
    border-radius: 15px; 
    width: 100%;
    }
.videoblock__circle {
    position: absolute; 
    background-color: #E93A7D; 
    border-radius: 50%; 
    width: 70px; 
    height: 70px; 
    top: 0%;
    right: 0%; 
    bottom: 0%; 
    left: 0%; 
    margin: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    }
.videoblock__double {
    display: flex; 
    color: #FFFFFF;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.videoblock__vidtext {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 0 15px 0;
    }
.videoblock__forvideo {
    display: flex;
    flex-basis: 170px;
    margin: 0 15px;
    flex-grow: 1;
    }
.videoblock__minvideo{
    width: 100%;
    }
.videoblock__text {
    margin: 0 15px;
    width: 200px;
    }
.videoblock__vidtext h5 {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 11px;
    }
.videoblock__vidtext p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
    opacity: 0.7;
    }
.createsite {
    background-color: white;
    display: flex; 
    }
.createsite__info {
    display: flex;
    flex-direction:column;
    padding: 8.35% 30px 0 8.21%; 
    flex-basis: 915px;
    }
.createsite__header {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px; 
    color: #1E0E62;
    max-width: 570px;
    margin: 0 0 32px 0;
    }
.createsite__mainpgraph {
    font-size: 22px; 
    color: rgba(21, 20, 57, 0.4); 
    line-height: 32px;
    font-weight: 500;
    max-width: 555px;
    margin: 0 0 46px 0;
    }
.createsite__button {
    background-color: #E93A7D; 
    border-radius: 25px; 
    height:50px; 
    width:160px ; 
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin: 0 0 84.29px 0;
    }
.createsite__button:hover {
    background-color: black; 
    }
.createsite__tech {
    display: flex;
    justify-content: space-between;
    max-width: 704px;
    }
.technology__info {
    flex-grow: 1;
    margin-bottom: 15px;
    margin-right: 15px;
    }
.technology__img {
    height: 50px;
    }
.technology__header {
    font-size: 22px; 
    color: #1E0E62;
    margin:  30.86px 0;
    }
.technology__pgraph {
    line-height:26px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(21, 20, 57, 0.4);
    max-width: 267px;
    }
.createsite__mainimg {
    display: flex;
    justify-content: right;
    max-width: 485px;
    overflow: hidden;
    min-height: 840px;
    }

.rates {
    background-color: #222228;
    color: #FFFFFF;
    padding: 100px 0 150px 0;
    }
.rates__header {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px; 
    color: white;
    margin: 0 0 43px 0;
    text-align: center;
    }
.rates__period {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 63px 0;
    }
.rates__text {
    font-size: 16px;
    }

.rates__switch {
    display: flex; 
    width: 42px; 
    height: 30px; 
    background-color:#25DAC5; 
    border-radius: 15px; 
    position: relative; 
    align-items: center; 
    justify-content: start;
    cursor: pointer;
    margin: 0 10px;
    }
.rates__switchcircle {
    position: absolute; 
    width: 24px; 
    height: 24px; 
    background-color:#FFFFFF;
    border-radius: 50%;
    margin: 0 3px;
    }
.rates__switch2 {
    display: flex; 
    width: 42px; 
    height: 30px; 
    background-color:#25DAC5; 
    border-radius: 15px; 
    position: relative; 
    align-items: center; 
    justify-content: end;
    cursor: pointer;
    padding:0;
    margin:0 10px;
    border: 0;
    }
.rates__tworates {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    }

.rates__item {
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 370px;
    margin: 15px;
    }

.rates__img {
    overflow: hidden;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    }
.rates__img img{
    width: 100%;
    }

.itemrate__text {
    padding: 45px 37px 40px 48px ;
    border:1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #34343D;
}
.itemrate__cost {
    display: flex;
    justify-content: space-between; 
    margin: 0 0 16px 0;
}
.itemrate__header {
    font-size: 22px;
    font-weight: 500; 
}
.itemrate__pgraph {
line-height: 26px;
font-size: 16px;
font-weight: 400;
height: 80px ;
margin: 0 0 78px;
}
.itemrate__button {
    background-color:#34343D;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: #FFFFFF;
    font-size: 18px;
}
.itemrate__button:hover {
    background-color: #E93A7D;
}
.itemrate__button:active {
    background-color: #E93A7D;
}



@media  (max-width:768px){
    .navigation__list {
        flex-grow: 1;
    } 
    .navigation { 
        justify-content: space-between;
        padding: 0 15px;
    }
    .burgerMenu {
        display: none; 
        }
    .intro {
        padding: 28.71% 0% 8.71% 0%;
    }

    .intro__header{
        font-size:40px;
        line-height: 40px;
    }
    .intro__pgraph{
        font-size:18px;
        line-height: 25px;
    }
    .createsite__mainimg {
        display: none;
    }
    .createsite__info {
        padding-bottom: 50px;
    }
}

@media  (max-width:480px) {
    .burger {
        display: block;
        margin-left: 20px;
    } 
    .navigation { 
        height: 50px;
    }
    .navigation__login {
        height: 30px;
        width: 75px;
        font-size: 12px;
        }
    .navigation__list {
        display: none;
        }
    .videoblock__container h3 {
        font-size: 30px; 
        }
    .createsite__tech {
        flex-wrap: wrap;
        }
    .videoblock__circle {
        width: 35px;
        height: 35px;
    }
}




